/***********************************************************
* TABS
************************************************************/

#geckos-tabs {
  margin: 0;
  padding: 0;
}

.tabs-container {
  background: #fff;
  width: 100%;
  height: 500px;
  position: relative;
}

.tabs-container .tab-pane {
	float: right;
	width: 80%;
	margin: 0;
}

.tabs-container > input {
  position: absolute;
  filter: alpha(opacity=0);
  opacity: 0;
	width: 20%;
	margin: 0;
}

.tabs-container > input[type="radio"] {
	width: 20%;
	height: 166.67px;
}

.tabs-container > input:hover {
  cursor: pointer;
}

.tabs-container > input:hover + h3,
.tabs-container > input:checked + h3 {
  color: #ff5915;
}

.tabs-container > input:hover + h3 + i,
.tabs-container > input:checked + h3 + i {
  color: #ff5915;
}

.tabs-container > i {
  position: absolute;
  margin-top: -100px;
  padding: 0 20px;
  font-size: 28px;
}

.tabs-container > h3,
.tabs-container > i {
  -webkit-transition: all .5s;
     -moz-transition: all .5s;
     -o-transition: all .5s;
      transition: all .5s;
}

.tabs-container > h3 {
	padding-top: 50px;
}

.tabs-container > input,
.tabs-container > h3 {
  background: #f0f0f0;
  font-family: 'Qwigley', cursive;
  font-size: 2.6rem;
  display: block;
  width: 200px;
  height: 166.67px;
  line-height: 60px;
  padding-left: 60px;
  z-index: 9;
}

.tab-content {
  position: absolute;
  top: 0;
  right: 0;
  width: calc(100% - 200px);
  height: 100%;
  overflow: hidden;
}

.tab-content .tab-pane {
  position: absolute;
  width: 100%;
  height: 100%;
  padding: 20px;
  display: none;
}

.tab-content .tab-pane h3{
  font-family: 'Qwigley', cursive;
  font-size: 2.8rem;
}

.tab-content .tab-pane p {
  font-family: 'Qwigley', cursive;
  font-size: 1.8rem;
  color: rgba(0, 0, 0, 0.7);
}

.tab-overlay {
	position: absolute;
	bottom: 15px;
	right: 15px;
	width: 50%;
	height: auto;
  max-height: 80%;
  padding: 15px;
	background-color: rgba(0, 0, 0, 0.5);
  line-height: 1.7;
}

.tabs-container > input.tab-0:checked ~ .tab-content .tab-item-0 {
  display: block;
}

.tabs-container > input.tab-1:checked ~ .tab-content .tab-item-1 {
  display: block;
}

.tabs-container > input.tab-2:checked ~ .tab-content .tab-item-2 {
  display: block;
}

/***********************************************************
* MEDIA QUERIES
************************************************************/

@media (max-width: 600px) {

  .tabs-container > input[type="radio"] {
    height: 166.67px;
    width: 15%;
  }

  .tab-content {
  width: calc(100% - 60px);
  }

  .tab-overlay {
  	width: 90%;
  }
}
